*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)) ,url('/photo-1608108707326-215150457c9f.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    height: 60px;
}
.search-bar{
    position: relative;
}
.search-bar input[type=text]{
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    transition: all 1.2s ease-in-out;
    outline: none;

}
.icon{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #ff793f;
    color: #fff;
    top: 0;
    right: 0;
}
.icon i{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
}
.icon.active{
    background-color: #ff793f;
}
.search-bar input[type=text].active{
    width: 500px;
    padding: 0 20px;
    font-weight: bold;
    text-align:center;
    font-size: 1.2em;
    color: grey;
}